<!-- -------------------------------------Title------------------------------------- -->
<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="overlay"></div>
                <div class="container">
                    <h1 class="title">Services</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- -------------------------------------Services------------------------------------- -->
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- <h1 class="services-title">Our Services</h1> -->
                <h2 class="services-title">Discover our latest logistics solutions</h2>
                <p>We make fulfillment simple so you can focus on growing your business.</p>
                <p>Carefully tailored by our logistics specialists.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mobScreen">
                <div class="card" style="width: 18rem;">
                    <img src="/warehousing.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Warehousing</h5>
                        <p class="card-text">Safe & organized inventory storage in our Berlin-based warehouse. Flexible
                            shelf or
                            bin-based
                            storage.</p>
                        <!-- <a class="btn-contact btn btn-dark" routerLink="/services">View services</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mobScreen">
                <div class="card" style="width: 18rem;">
                    <img src="/fullfilment.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fulfillment</h5>
                        <p class="card-text">Efficient order processing, picking, packing, and shipping to ensure timely
                            delivery.</p>
                        <!-- <a class="btn-contact btn btn-dark" routerLink="/services">View services</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mobScreen">
                <div class="card" style="width: 18rem;">
                    <img src="/returns_handling.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Returns Handling</h5>
                        <p class="card-text">We process returns and restock eligible items quickly and efficiently.</p>
                        <!-- <a class="btn-contact btn btn-dark" routerLink="/services">View services</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mobScreen">
                <div class="card" style="width: 18rem;">
                    <img src="inv_reporting.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Inventory Reporting</h5>
                        <p class="card-text">Get regular reports and updates on stock levels and order status.</p>
                        <!-- <a class="btn-contact btn btn-dark" routerLink="/services">View services</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mobScreen">
                <div class="card" style="width: 18rem;">
                    <img src="/shipment.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shipping</h5>
                        <p class="card-text">Fast and affordable shipping via DHL, tracked & insured.</p>
                        <!-- <a class="btn-contact btn btn-dark" routerLink="/services">View services</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>