<!-- -------------------------------------Title: Dashboard Component Template------------------------------------- -->
<section class="dashboard">
    <div class="overlay"></div>
    <div class="container">
        <div class="title-content">
            <h1 class="title text-danger">LOGISTICS PRO ®</h1>
            <p class="des1">Your all-in-one logistics partner</p>
            <p class="des2">With just a few clicks, managing your shipments has never been simpler.</p>
            <button class="btn-get-started btn btn-outline-danger">Get Started</button>
        </div>
    </div>
</section>

<!-- -------------------------------------Streamline------------------------------------- -->
<section class="streamline">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="streamline-title" style="color: black;">Are you looking to streamline your logistics?</h2>
                <p class="streamline-description" style="color: black;">Schedule a consultation for a free logistics
                    assessment. We analyze
                    your needs, provide tailored solutions, and explain our process.</p>
                <p class="streamline-description" style="color: black;">You can choose freely whether or not to partner
                    with us for your
                    logistics needs.</p>
                <button class="btn-get-started btn btn-outline-danger pt-2">Learn More</button>
            </div>
            <div class="col-lg-6">
                <div class="image-cards-container">
                    <div class="image-card left"></div>
                    <div class="image-card right"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- -------------------------------------Struggling------------------------------------- -->
<section class="struggling">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-cards-strugle-container">
                    <div class="image-card-strugle left"></div>
                    <div class="image-card-strugle right"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="struggling-title" style="color: black;">Struggling with your logistics management?</h2>
                <p class="struggling-description" style="color: black;">Our logistics experts are here to guide you
                    through every step of the process and will offer the best strategies for your shipping needs.</p>
                <p class="struggling-description" style="color: black;">Explore our customized logistics services to
                    enhance your supply chain efficiency.</p>
                <button class="btn-get-started btn btn-outline-danger pt-2">Explore our offerings</button>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------Market Us------------------------------------- -->
<section class="market">
    <div class="container">
        <div class="row">
            <h1 class="market-title text-center">
                Where every shipment is delivered with care.
            </h1>
        </div>
    </div>
</section>