<!-- ----------------------------|| NAV BAR ||---------------------------- -->
<!-- <header> -->
<nav class="navbar navbar-expand-lg navBorder">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="navLogo">LogiTrack</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" /> -->
                <div class="d-flex align-items-center p-2" style="color: #000;">
                    <i class="fas fa-envelope p-2"></i>
                    <p class="navPhone" href="tel:+4915510609118">+49 15510-609118</p>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn-contact btn btn-dark" routerLink="/contactus">Contact Us</a>
                </div>
            </form>
        </div>
    </div>
</nav>
<!-- </header> -->

<router-outlet />

<!-- -----------------------------------|| FOOTER ||----------------------------------- -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <a routerLink="/dashboard" class="footer-logo">Logi<span>Track</span></a>
                <p class="about-text">We are a team of passionate people whose goal is to improve everyone's life
                    through disruptive products. Our products are designed for small to medium size companies willing to
                    optimize their performance.</p>

                <div class="connect-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <h5 class="footer-title">Useful Links</h5>
                <ul class="footer-links">
                    <li><a href="#"><i class="fas fa-chevron-right"></i> About us</a></li>
                    <li><a href="#"><i class="fas fa-chevron-right"></i> Products</a></li>
                    <li><a href="#"><i class="fas fa-chevron-right"></i> Services</a></li>
                    <li><a href="#"><i class="fas fa-chevron-right"></i> Legal</a></li>
                    <li><a href="#"><i class="fas fa-chevron-right"></i> Privacy Policy</a></li>
                    <li><a routerLink="/contactus"><i class="fas fa-chevron-right"></i> Contact us</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h5 class="footer-title">Connect with us</h5>

                <div class="contact-info">
                    <div class="contact-item">
                        <!-- <i class="fas fa-envelope"></i> -->
                        <div>
                            <span>Email us at</span><br>
                            <a href="mailto:alyankhan2717@gmail.com">alyankhan2717gmail.com</a>
                        </div>
                    </div>

                    <div class="contact-item">
                        <!-- <i class="fas fa-phone"></i> -->
                        <div>
                            <span>Call us at</span><br>
                            <a href="tel:+4915510609118">+49 15510-609118</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright © 2023 Company Name. All rights reserved.</p>
        </div>
    </div>
</footer>